WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.videolibrary.sjsu.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.videolibrary.sjsu.edu" xmlns:intf="http://service.videolibrary.sjsu.edu" xmlns:tns1="http://model.videolibrary.sjsu.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.videolibrary.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.videolibrary.sjsu.edu"/>
   <element name="addItemsToCart">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:int"/>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addItemsToCartResponse">
    <complexType>
     <sequence>
      <element name="addItemsToCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteMovieFromCart">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
      <element name="membershipId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteMovieFromCartResponse">
    <complexType>
     <sequence>
      <element name="deleteMovieFromCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewCart">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewCartResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewCartReturn" type="tns1:ItemOnCart"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpUser">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="memType" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipCode" type="xsd:string"/>
      <element name="ccNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpUserResponse">
    <complexType>
     <sequence>
      <element name="signUpUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpAdmin">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpAdminResponse">
    <complexType>
     <sequence>
      <element name="signUpAdminReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInUser">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInUserResponse">
    <complexType>
     <sequence>
      <element name="signInUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInAdmin">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInAdminResponse">
    <complexType>
     <sequence>
      <element name="signInAdminReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewMembers">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewMembersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewMembersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deleteUserAccount">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserAccountResponse">
    <complexType>
     <sequence>
      <element name="deleteUserAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteAdminAccount">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteAdminAccountResponse">
    <complexType>
     <sequence>
      <element name="deleteAdminAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewMovie">
    <complexType>
     <sequence>
      <element name="movieName" type="xsd:string"/>
      <element name="movieBanner" type="xsd:string"/>
      <element name="releaseDate" type="xsd:string"/>
      <element name="availableCopies" type="xsd:int"/>
      <element name="categoryId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewMovieResponse">
    <complexType>
     <sequence>
      <element name="createNewMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteMovieResponse">
    <complexType>
     <sequence>
      <element name="deleteMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayUserInformation">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayUserInformationResponse">
    <complexType>
     <sequence>
      <element name="displayUserInformationReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayMovieInformation">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayMovieInformationResponse">
    <complexType>
     <sequence>
      <element name="displayMovieInformationReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAccountTransactions">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAccountTransactionsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAccountTransactionsReturn" type="tns1:Transaction"/>
     </sequence>
    </complexType>
   </element>
   <element name="makeMonthlyPayment">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="makeMonthlyPaymentResponse">
    <complexType>
     <sequence>
      <element name="makeMonthlyPaymentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserInfo">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
      <element name="userId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipCode" type="xsd:string"/>
      <element name="membershipType" type="xsd:string"/>
      <element name="creditCardNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserInfoResponse">
    <complexType>
     <sequence>
      <element name="updateUserInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePassword">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
      <element name="oldPassword" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePasswordResponse">
    <complexType>
     <sequence>
      <element name="updatePasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateMovieInfo">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:string"/>
      <element name="movieName" type="xsd:string"/>
      <element name="movieBanner" type="xsd:string"/>
      <element name="releaseDate" type="xsd:string"/>
      <element name="availableCopies" type="xsd:int"/>
      <element name="rentAmount" type="xsd:double"/>
      <element name="categoryId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateMovieInfoResponse">
    <complexType>
     <sequence>
      <element name="updateMovieInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateMonthlyStatement">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
      <element name="month" type="xsd:int"/>
      <element name="year" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateMonthlyStatementResponse">
    <complexType>
     <sequence>
      <element name="generateMonthlyStatementReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewStatement">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
      <element name="month" type="xsd:int"/>
      <element name="year" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewStatementResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewStatementReturn" type="tns1:StatementInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateMonthlyBillForPremiumMember">
    <complexType>
     <sequence>
      <element name="membershipId" type="xsd:string"/>
      <element name="month" type="xsd:int"/>
      <element name="year" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateMonthlyBillForPremiumMemberResponse">
    <complexType>
     <sequence>
      <element name="generateMonthlyBillForPremiumMemberReturn" type="tns1:PaymentForPremiumMemInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentAmountforMovie">
    <complexType/>
   </element>
   <element name="getRentAmountforMovieResponse">
    <complexType>
     <sequence>
      <element name="getRentAmountforMovieReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMonthlyFeesForPremiumMember">
    <complexType/>
   </element>
   <element name="getMonthlyFeesForPremiumMemberResponse">
    <complexType>
     <sequence>
      <element name="getMonthlyFeesForPremiumMemberReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.videolibrary.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.videolibrary.sjsu.edu"/>
   <complexType name="ItemOnCart">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="movieId" type="xsd:int"/>
     <element name="movieName" nillable="true" type="xsd:string"/>
     <element name="rentAmount" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="creditCardNumber" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="latestPaymentDate" nillable="true" type="xsd:string"/>
     <element name="membershipId" type="xsd:int"/>
     <element name="membershipType" nillable="true" type="xsd:string"/>
     <element name="movieList" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="startDate" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Movie">
    <sequence>
     <element name="availableCopies" type="xsd:int"/>
     <element name="buyerList" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="catagory" nillable="true" type="xsd:string"/>
     <element name="categoryId" type="xsd:int"/>
     <element name="movieBanner" nillable="true" type="xsd:string"/>
     <element name="movieId" type="xsd:int"/>
     <element name="movieName" nillable="true" type="xsd:string"/>
     <element name="releaseDate" nillable="true" type="xsd:string"/>
     <element name="rentAmount" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Transaction">
    <sequence>
     <element name="movieName" nillable="true" type="xsd:string"/>
     <element name="perMovieAmount" type="xsd:double"/>
     <element name="purchaseDate" nillable="true" type="xsd:string"/>
     <element name="returnDate" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StatementInfo">
    <sequence>
     <element name="movieId" nillable="true" type="xsd:string"/>
     <element name="movieName" nillable="true" type="xsd:string"/>
     <element name="rentDate" nillable="true" type="xsd:string"/>
     <element name="returnDate" nillable="true" type="xsd:string"/>
     <element name="totalDueAmount" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PaymentForPremiumMemInfo">
    <sequence>
     <element name="monthlyPaymentAmount" type="xsd:double"/>
     <element name="paymentDate" nillable="true" type="xsd:string"/>
     <element name="paymentStatus" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteAdminAccountRequest">

      <wsdl:part element="impl:deleteAdminAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpUserResponse">

      <wsdl:part element="impl:signUpUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInAdminResponse">

      <wsdl:part element="impl:signInAdminResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePasswordResponse">

      <wsdl:part element="impl:updatePasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAdminAccountResponse">

      <wsdl:part element="impl:deleteAdminAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMonthlyFeesForPremiumMemberRequest">

      <wsdl:part element="impl:getMonthlyFeesForPremiumMember" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserAccountRequest">

      <wsdl:part element="impl:deleteUserAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentAmountforMovieResponse">

      <wsdl:part element="impl:getRentAmountforMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInAdminRequest">

      <wsdl:part element="impl:signInAdmin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateMonthlyBillForPremiumMemberResponse">

      <wsdl:part element="impl:generateMonthlyBillForPremiumMemberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateMonthlyStatementResponse">

      <wsdl:part element="impl:generateMonthlyStatementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayMovieInformationRequest">

      <wsdl:part element="impl:displayMovieInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteMovieFromCartRequest">

      <wsdl:part element="impl:deleteMovieFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteMovieRequest">

      <wsdl:part element="impl:deleteMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="makeMonthlyPaymentRequest">

      <wsdl:part element="impl:makeMonthlyPayment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewCartResponse">

      <wsdl:part element="impl:viewCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addItemsToCartRequest">

      <wsdl:part element="impl:addItemsToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePasswordRequest">

      <wsdl:part element="impl:updatePassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAccountTransactionsRequest">

      <wsdl:part element="impl:viewAccountTransactions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserAccountResponse">

      <wsdl:part element="impl:deleteUserAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewMovieRequest">

      <wsdl:part element="impl:createNewMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateMovieInfoResponse">

      <wsdl:part element="impl:updateMovieInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewCartRequest">

      <wsdl:part element="impl:viewCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserInfoResponse">

      <wsdl:part element="impl:updateUserInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInUserRequest">

      <wsdl:part element="impl:signInUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addItemsToCartResponse">

      <wsdl:part element="impl:addItemsToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateMonthlyStatementRequest">

      <wsdl:part element="impl:generateMonthlyStatement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpUserRequest">

      <wsdl:part element="impl:signUpUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAccountTransactionsResponse">

      <wsdl:part element="impl:viewAccountTransactionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInUserResponse">

      <wsdl:part element="impl:signInUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteMovieResponse">

      <wsdl:part element="impl:deleteMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayUserInformationRequest">

      <wsdl:part element="impl:displayUserInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewStatementRequest">

      <wsdl:part element="impl:viewStatement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="makeMonthlyPaymentResponse">

      <wsdl:part element="impl:makeMonthlyPaymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayMovieInformationResponse">

      <wsdl:part element="impl:displayMovieInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewStatementResponse">

      <wsdl:part element="impl:viewStatementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserInfoRequest">

      <wsdl:part element="impl:updateUserInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentAmountforMovieRequest">

      <wsdl:part element="impl:getRentAmountforMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpAdminRequest">

      <wsdl:part element="impl:signUpAdmin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayUserInformationResponse">

      <wsdl:part element="impl:displayUserInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewMovieResponse">

      <wsdl:part element="impl:createNewMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewMembersRequest">

      <wsdl:part element="impl:viewMembers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewMembersResponse">

      <wsdl:part element="impl:viewMembersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMonthlyFeesForPremiumMemberResponse">

      <wsdl:part element="impl:getMonthlyFeesForPremiumMemberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateMonthlyBillForPremiumMemberRequest">

      <wsdl:part element="impl:generateMonthlyBillForPremiumMember" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateMovieInfoRequest">

      <wsdl:part element="impl:updateMovieInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpAdminResponse">

      <wsdl:part element="impl:signUpAdminResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteMovieFromCartResponse">

      <wsdl:part element="impl:deleteMovieFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="addItemsToCart">

         <wsdl:input message="impl:addItemsToCartRequest" name="addItemsToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addItemsToCartResponse" name="addItemsToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteMovieFromCart">

         <wsdl:input message="impl:deleteMovieFromCartRequest" name="deleteMovieFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteMovieFromCartResponse" name="deleteMovieFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewCart">

         <wsdl:input message="impl:viewCartRequest" name="viewCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewCartResponse" name="viewCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpUser">

         <wsdl:input message="impl:signUpUserRequest" name="signUpUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpUserResponse" name="signUpUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpAdmin">

         <wsdl:input message="impl:signUpAdminRequest" name="signUpAdminRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpAdminResponse" name="signUpAdminResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signInUser">

         <wsdl:input message="impl:signInUserRequest" name="signInUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInUserResponse" name="signInUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signInAdmin">

         <wsdl:input message="impl:signInAdminRequest" name="signInAdminRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInAdminResponse" name="signInAdminResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewMembers">

         <wsdl:input message="impl:viewMembersRequest" name="viewMembersRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewMembersResponse" name="viewMembersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUserAccount">

         <wsdl:input message="impl:deleteUserAccountRequest" name="deleteUserAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserAccountResponse" name="deleteUserAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAdminAccount">

         <wsdl:input message="impl:deleteAdminAccountRequest" name="deleteAdminAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteAdminAccountResponse" name="deleteAdminAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewMovie">

         <wsdl:input message="impl:createNewMovieRequest" name="createNewMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:createNewMovieResponse" name="createNewMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteMovie">

         <wsdl:input message="impl:deleteMovieRequest" name="deleteMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteMovieResponse" name="deleteMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayUserInformation">

         <wsdl:input message="impl:displayUserInformationRequest" name="displayUserInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayUserInformationResponse" name="displayUserInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayMovieInformation">

         <wsdl:input message="impl:displayMovieInformationRequest" name="displayMovieInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayMovieInformationResponse" name="displayMovieInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAccountTransactions">

         <wsdl:input message="impl:viewAccountTransactionsRequest" name="viewAccountTransactionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAccountTransactionsResponse" name="viewAccountTransactionsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="makeMonthlyPayment">

         <wsdl:input message="impl:makeMonthlyPaymentRequest" name="makeMonthlyPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:makeMonthlyPaymentResponse" name="makeMonthlyPaymentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUserInfo">

         <wsdl:input message="impl:updateUserInfoRequest" name="updateUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateUserInfoResponse" name="updateUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassword">

         <wsdl:input message="impl:updatePasswordRequest" name="updatePasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePasswordResponse" name="updatePasswordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateMovieInfo">

         <wsdl:input message="impl:updateMovieInfoRequest" name="updateMovieInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateMovieInfoResponse" name="updateMovieInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateMonthlyStatement">

         <wsdl:input message="impl:generateMonthlyStatementRequest" name="generateMonthlyStatementRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateMonthlyStatementResponse" name="generateMonthlyStatementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewStatement">

         <wsdl:input message="impl:viewStatementRequest" name="viewStatementRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewStatementResponse" name="viewStatementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateMonthlyBillForPremiumMember">

         <wsdl:input message="impl:generateMonthlyBillForPremiumMemberRequest" name="generateMonthlyBillForPremiumMemberRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateMonthlyBillForPremiumMemberResponse" name="generateMonthlyBillForPremiumMemberResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentAmountforMovie">

         <wsdl:input message="impl:getRentAmountforMovieRequest" name="getRentAmountforMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRentAmountforMovieResponse" name="getRentAmountforMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMonthlyFeesForPremiumMember">

         <wsdl:input message="impl:getMonthlyFeesForPremiumMemberRequest" name="getMonthlyFeesForPremiumMemberRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMonthlyFeesForPremiumMemberResponse" name="getMonthlyFeesForPremiumMemberResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addItemsToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addItemsToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addItemsToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteMovieFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteMovieFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteMovieFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUpAdmin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpAdminRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpAdminResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signInUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signInAdmin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInAdminRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInAdminResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUserAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAdminAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAdminAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteAdminAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createNewMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createNewMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayUserInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayUserInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayUserInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayMovieInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayMovieInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayMovieInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAccountTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAccountTransactionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAccountTransactionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="makeMonthlyPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="makeMonthlyPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="makeMonthlyPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateMovieInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateMovieInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateMovieInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateMonthlyStatement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateMonthlyStatementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateMonthlyStatementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewStatement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewStatementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewStatementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateMonthlyBillForPremiumMember">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateMonthlyBillForPremiumMemberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateMonthlyBillForPremiumMemberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentAmountforMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRentAmountforMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRentAmountforMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMonthlyFeesForPremiumMember">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMonthlyFeesForPremiumMemberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMonthlyFeesForPremiumMemberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/movie-library/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
